.Container{
    display:flex;
    flex-direction: column;
    width:350px;
    color:white;
    background: rgba(242, 241, 245, 0.1); 
    box-shadow: 5px 5px 5px rgba(96, 173, 122, 0.089);
    border: 1px solid rgb(156, 155, 155);
    border-radius: 15px;
    margin:30px;   
}
    
.Container:hover{
    background: rgba(242, 241, 245, 0.5);  
    color:darkslategray;
}
.head{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid rgb(156, 155, 155);
}
.middle{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}
.footer{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    min-height: fit-content;
}
.btn{
    align-self: flex-end;
    width: 30px;
    background-color:rgba(247, 143, 8, 0.521);
    color:white;
    border-radius: 5px;
    margin: 5px;
}

.linea{
    border-top: 1px solid grey;
}

.lblInfo{
    display:flex;
    flex-direction: row;
    justify-content:space-around;
   
}
a{
    color:white;
    text-decoration: none;
}

h3{
    margin-left: 10px;
}