.title{    
    color:white;
    text-align: center;
    display: flex;
    height:80px;
    flex-direction: column;
    background-image: url('../images/background.png');
    filter: grayscale(100%);
    background-repeat: no-repeat;
    background-size: cover;
}
.general{
    background-color: #fff;    
}
h5{
    color:darkslategray;
}

.grid{
    background-color: burlywood;
    text-align: center;
    width:1200px;
}

