.title{    
    color:white;
    text-align: center;
    /* margin-bottom: 2rem; */
    display: flex;
    height:80px;
    flex-direction: column;
    background-image: url('../images/background.png');
    filter: grayscale(100%);
    background-repeat: no-repeat;
    background-size: cover;
}
.general{
    background-color: #fff;
    /* padding: 2rem;
    border-radius: 0.5rem; */
    
}
h5{
    color:darkslategray;
}


.grid{
    background-color: burlywood;
    text-align: center;
    /* size: 20px; */
}

