@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&display=swap');

body {
  margin: 0;
  font-family: 'Carrois Gothic SC', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: rgb(57, 63, 63); */
  background-color: rgba(27, 27, 27, 0.473);
  background-image:url('../src/images/backgroundMain.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
